/* _colors.scss - Variables defined for colors; */

$color-primary:#C91414;
$color-secondary:white;
$color-disabled:#EC7373;
$alert-red:#F24822;
$alert-red-alpha:rgba(242,72,34,0.74);
$gray: (
  "CCCCCC": #ccc,
  "F3F3F3": #f3f3f3
);

