/* _icons.scss - Classes for modifying icons */
.gc {
  &-icn {
    cursor: pointer;
    &-back {
      position: fixed;
      top:pxToRem(20);
      left:pxToRem(20);
      background:$color-secondary;
      border-radius:50%;
      height:pxToRem(40);
      width:pxToRem(40);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-progress {
      height: pxToRem(40);
      width: pxToRem(40);
    }
  }
}