#{$gc} {
    &-btn {
        padding:pxToRem(15) pxToRem(24);
        border-radius:pxToRem(15);

        &-primary {
            background-color: $color-primary;
            color:$color-secondary;
            border-color:$color-primary;
            border-style:solid;
        }

        &-link {
            padding: 0;
            background: inherit;
            border: none;
            color: #C91414;
            cursor: pointer;

            &:hover {
                text-decoration:underline;
            }
        }

        &-outline {
            font-size:pxToRem(12);
            background:$color-secondary;
            color:$color-primary;
            border-radius:pxToRem(4);
        }
    }
}