.gc {
    &-dialog {
        height: 100%;
        width: 100%;
        position:fixed;
        top:0;
        left:0;
        background:rgba(255,255,255,0.75);

        &__content {
            height: pxToRem(250);
            width: pxToRem(350);
            margin:auto;
            border-radius:pxToRem(4);
            border:1px solid $color-primary;
            background:$color-secondary;
        }

        &__header, &__footer {
            padding:pxToRem(5) pxToRem(10);
            font-size:pxToRem(12);
        }

        &__header {
            color:black;
            border-bottom:1px solid $color-primary;
        }

        &__footer {
            background:$color-primary;
            text-align: right;
        }
    }
}